header{
    height: 120px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: aqua;
    padding: 30px ;
    font-family: fantasy;

}
.container{
    size: 90%;
}
 .container h3{
     color: #f7325e;
     font-family: fantasy;
     text-align: center;
    
     margin-top: 15px;
 }
#tropical {
    
    margin: 5px;
    text-align: justify
    ;
}